  <div class="row">
<h4>Lists of all your Todos</h4>
<table class="center">
  <% @todos.each do |todo| %>
<tr>
  <td>
    <%= todo.title %>
  </td>
  <td>
    <%= todo.body %>
  </td>
  <td>
  <%= todo.status %>
  </td>
  <td>
    <%= todo.created_at %>
  </td>
</tr>
<% end%>

</table>
</div>
